@font-face{
    font-family: "Nudles-Bold";
    src: url("/src/fonts/Nudles-Bold.woff2") format('woff2');
}

@font-face{
    font-family: "Ronzino-Regular";
    src: url("/src/fonts/Ronzino-Regular.woff2") format('woff2');
}

@font-face{
    font-family: "Ronzino-Bold";
    src: url("/src/fonts/Ronzino-Bold.woff2") format('woff2');
}

@font-face{
    font-family: "Ronzino-Oblique";
    src: url("/src/fonts/Ronzino-Oblique.woff2") format('woff2');
}

@font-face{
    font-family: "Ronzino-BoldOblique";
    src: url("/src/fonts/Ronzino-BoldOblique.woff2") format('woff2');
}

@font-face{
    font-family: "PicNic";
    src: url("/src/fonts/PicNic.woff2") format('woff2');
}

html {
    background-color: #faf5eb;
    font-family: sans-serif;
    color: #121212;
}

* {
    box-sizing: border-box;
}

body {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    line-height: 1.5rem;
    padding-bottom: 60px;
}

.site-header{
    box-sizing: border-box;
    display: flex;
    margin: 0;
    margin-top: -8px;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #faf5eb;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);*/
    line-height: 60px;
}

.title{
    font-family: Ronzino-Bold, SansSerif, sans-serif;
    text-decoration: none;
    font-size: 3rem;
    color: #000000;
    margin: 0;
}

.title:hover{
    color: #002FA7;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;

}
.nav-links {
    display: flex;
    font-size: 1.2rem;
    gap: 1.5rem;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    margin: 0;
    color: #000000;
    font-family: Ronzino-Bold, SansSerif, sans-serif;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #002FA7;
}

/*.expanded {*/
/*    display: unset;*/
/*}*/

@media screen and (min-width: 768px) {
    .nav-links {
        margin-left: 0;
        display: flex;
        width: auto;
        background: none;
    }

    .nav-links a {
        padding: 15px 20px;
    }

}

h2 {
    font-family: Ronzino-Regular, SansSerif, sans-serif;
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    max-width: 1800px;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 4rem;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 400px;
    max-width: 100%;
    box-sizing: border-box;
}

.image-wrapper {
    display: inline-flex;
    text-align: center;
    flex-direction: column;
}

.project-item img {
    display: block;
    height: 360px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);*/
}

.project-title {
    margin-top: 0.2rem;
    display: block;
    font-size: 1.1rem;
    font-family: Ronzino-BoldOblique, SansSerif, sans-serif;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: #000000;
}

.project-title:hover {
    color: #002FA7;
}

.project-title,a {
    text-decoration: none;
}

.image-wrapper:hover {
    opacity: 0.8;
}

.footer1 {
    line-height: 1rem;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.9rem;
    /*gap: 1rem;*/
    background-color: #faf5eb;
    width: 100%;
    font-family: Ronzino-Bold, SansSerif, sans-serif;
    font-size: 1.2rem;
}

.footer-text {
    position: fixed;
    bottom: 0.25rem;
    left: 15px;
}

.footer-text1 {
    position: fixed;
    bottom: 0.25rem;
    right: 15px;
}

