---
import '../styles/global.css'
import '../styles/about.css'
import Footer from  '../components/footer.astro';
import Header from  '../components/header.astro';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>ítalo carajá</title>
</head>
<body>
    <Header />
    <div class="flex-columns">
        <div class="column">
            <h2 class="language-text">pt</h2>
            <p><span class="bold-text">Ítalo Carajá</span> (Belo Horizonte/MG, 2000) é artista visual. Graduado em Artes Visuais pela Universidade Federal de Minas Gerais (EBA/UFMG), vive e trabalha em Belo Horizonte/MG.</p>

            <p> Explora procedimentos como serigrafia, desenho, pintura, vídeo e instalação. Em seus trabalhos explora temas como a construção da identidade e da memória a partir de objetos banais. Atualmente pesquisa sobre os modos de circulação e desgaste das imagens na cultura de massa, e as relações entre violência, espetáculo e jogo.</p>

                <h3 class="category">EXPOSIÇÕES</h3>

                <p>
                    <span class="bold-text bold-numbers">2025</span><br/><span class="sentence-indent"><span class="bold-text">A Coisa dRag</span>, exposição coletiva, com curadoria de Sandro Ka. Centro Cultural UFMG. Belo Horizonte, MG.<br/>
                    <span class="bold-text">Tudo que é rastro</span>, um dia foi desejo, exposição coletiva. Centro Cultural UFMG. Belo Horizonte, MG.</span>
                </p>

                <p>
                    <span class="bold-text bold-numbers">2024</span><span class="sentence-indent"><span class="bold-text">Contrabando</span>, exposição coletiva. Mama/Cadela. Belo Horizonte, MG.
                    <br/><span class="bold-text">Organismossintéticonaturais</span>, exposição coletiva, com organização de Sandro Ka e Camila Moreira. EBA/UFMG. Belo Horizonte, MG.
                    <br/><span class="bold-text">31ª MAJ - Mostra de Arte da Juventude</span>, exposição coletiva. Sesc Ribeirão Preto. Ribeirão Preto, SP.
                    <br/><span class="bold-text">Entre Nós</span>, exposição coletiva. Casa Camelo. Belo Horizonte, MG.
                    <br/><span class="bold-text">Dezenove: pesquisas em desenho</span>, exposição coletiva, com organização de Sandro Ka e Camila Moreira. EBA/UFMG. Belo Horizonte, MG.
                    <br/><span class="bold-text">Panorâmicas</span>, exposição coletiva, com organização de Rodrigo Borges Coelho. EBA/UFMG. Belo Horizonte, MG.</span>
                </p>

            <p>
                <span class="bold-text bold-numbers">2023</span><br/><span class="sentence-indent"><span class="bold-text">Espaço potencial</span>, exposição coletiva, curadoria própria dos artistas participantes. EBA/UFMG. Belo Horizonte, MG.</span>
            </p>

            <p>
                <span class="bold-text bold-numbers">2022</span><br/><span class="sentence-indent"><span class="bold-text">Luz ao Lado</span>, exposição coletiva, curadoria de Patrícia Franca-Huchet. EBA/UFMG. Belo Horizonte, MG.</span>
            </p>

            <h3 class="category">FEIRAS</h3>
                <p>2025 – <span class="bold-text">6ª Feira Rasga & Quebra - Gengibrão</span>, São Paulo/SP.<br/>
                2024 – <span class="bold-text">Feira Chinelo</span>, Belo Horizonte/MG.<br/>
                2024 – <span class="bold-text">4ª Feira Rasga & Quebra - Gengibrão</span>, São Paulo/SP.<br/>
                2023 – <span class="bold-text">Festival Faísca de Publicações Experimentais</span>, Belo Horizonte/MG.</p>
        </div>
        <div class="column side-column">
            <h2 class="language-text">en</h2>
            <p><span class="bold-text">Ítalo Carajá</span> (Belo Horizonte/MG, 2000) is a visual artist. He holds a degree in Visual Arts from the Federal University of Minas Gerais (EBA/UFMG) and lives and works in Belo Horizonte, MG.</p>

            <p>He works with processes such as screen printing, drawing, painting, and installation. His practice explores themes such as the construction of identity and memory through banal objects. Currently, his research focuses on the circulation and erosion of images in mass culture, as well as the relationships between violence, spectacle, and play.</p>

            <h3 class="category">EXHIBITIONS</h3>

            <p>
                <span class="bold-text bold-numbers">2025<br/></span><span class="sentence-indent"><span class="bold-text">A Coisa dRag</span>, group exhibition, curated by Sandro Ka. Centro Cultural UFMG. Belo Horizonte, MG.
                <br/><span class="bold-text">Tudo que é rastro</span>, um dia foi desejo, group exhibition. Centro Cultural UFMG. Belo Horizonte, MG.</span>
            </p>

            <p>
                <span class="bold-text bold-numbers">2024</span><span class="sentence-indent"><span class="bold-text">Contrabando</span>, group exhibition. Mama/Cadela. Belo Horizonte, MG.
                <br/><span class="bold-text">Organismossintéticonaturais</span>, group exhibition, organized by Sandro Ka and Camila Moreira. EBA/UFMG. Belo Horizonte, MG.
                <br/><span class="bold-text">31ª MAJ - Mostra de Arte da Juventude</span>, group exhibition. Sesc Ribeirão Preto. Ribeirão Preto, SP.
                <br/><span class="bold-text">Entre Nós</span>, group exhibition. Casa Camelo. Belo Horizonte, MG.
                <br/><span class="bold-text">Dezenove: pesquisas em desenho</span>, group exhibition, organized by Sandro Ka and Camila Moreira. EBA/UFMG. Belo Horizonte, MG.
                <br/><span class="bold-text">Panorâmicas</span>, group exhibition, organized by Rodrigo Borges Coelho. EBA/UFMG. Belo Horizonte, MG.</span>
            </p>

            <p>
                <span class="bold-text bold-numbers">2023</span><br/><span class="sentence-indent"><span class="bold-text">Espaço potencial</span>, group exhibition, self-curated by the participating artists. EBA/UFMG. Belo Horizonte, MG.</span>
            </p>

            <p>
                <span class="bold-text bold-numbers">2022</span><br/><span class="sentence-indent"><span class="bold-text">Luz ao Lado</span>, group exhibition, curated by Patrícia Franca-Huchet. EBA/UFMG. Belo Horizonte, MG.</span>
            </p>

            <h3 class="category">ART FAIRS</h3>
            <p>2025 – <span class="bold-text">6ª Feira Rasga & Quebra - Gengibrão</span>, São Paulo/SP.<br/>
                2024 – <span class="bold-text">Feira Chinelo</span>, Belo Horizonte/MG.<br/>
                2024 – <span class="bold-text">4ª Feira Rasga & Quebra - Gengibrão</span>, São Paulo/SP.<br/>
                2023 – <span class="bold-text">Festival Faísca de Publicações Experimentais</span>, Belo Horizonte/MG.</p>
        </div>
    </div>
    <Footer />
</body>
</html>