---
import '../styles/global.css'
import Footer from  '../components/footer.astro';
import Header from '../components/header.astro';
import ProjectLayout from "../layouts/project_layout.astro";
---

<html lang="en">
<head>
    <title>ítalo carajá</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
</head>
<body>
    <Header />

    <div class="project-container">
        <div class="project-item">
            <a href="/projects/2025/untitled/untitled">
                <div class="image-wrapper">
                    <img src="/projects/2025/untitled/scan_20250706_0001-1.png" alt="untitled" title="untitled">
                </div>
                <p class="project-title">untitled (2025.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2025/play_s over/plays_over">
                <div class="image-wrapper">
                    <img src="/projects/2025/play_s over/scan_20250616_0002-1.png" alt="play's over" title="play's over">
                </div>
                <p class="project-title">play's over (2025.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2025/love shot/love_shot">
                <div class="image-wrapper">
                    <img src="/projects/2025/love shot/scan_20250411_0001-1.png" alt="love shot" title="love shot">
                </div>
                <p class="project-title">love shot (2025.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2025/attach it like a sticker II/like_a_sticker">
                <div class="image-wrapper">
                    <img src="/projects/2025/attach it like a sticker II/attachitlikeastickerii.png" alt="attach it like a sticker ii" title="attach it like a sticker ii">
                </div>
                <p class="project-title">attach it like a sticker (2025.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2025/an apple a day/apple_aday">
                <div class="image-wrapper">
                    <img src="/projects/2025/an apple a day/sometimes i feel very foreign-1.png" alt="an apple a day" title="an apple a day">
                </div>
                <p class="project-title">an apple a day (2025.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/the grass is greener/greener_grass">
                <div class="image-wrapper">
                    <img src="/projects/2024/the grass is greener/foto endireitada.png" alt="the grass is greener" title="the grass is greener">
                </div>
                <p class="project-title">the grass is always greener (2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/second thoughts/second_thoughts">
                <div class="image-wrapper">
                    <img src="/projects/2024/second thoughts/IMG_20240229_0001 crop.png" alt="second thoughts" title="second thoughts">
                </div>
                <p class="project-title">second thoughts (2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/love letter/love_letter">
                <div class="image-wrapper">
                    <img src="/projects/2024/love letter/79 love letter.png" alt="love letter" title="love letter">
                </div>
                <p class="project-title">love letter (2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/i_m just like my father (tal pai, tal filho)/father_son">
                <div class="image-wrapper">
                    <img src="/projects/2024/i_m just like my father (tal pai, tal filho)/tptf.png" alt="im just like my father (tai pai, tai filho)" title="im just like my father (tai pai, tai filho)">
                </div>
                <p class="project-title">im just like my father (tai pai, tai filho) (2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/i do think different/think_different">
                <div class="image-wrapper">
                    <img src="/projects/2024/i do think different/dptt17 copy.jpg" alt="i do think different" title="i do think different">
                </div>
                <p class="project-title">i do think different (2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/edge/edge">
                <div class="image-wrapper">
                    <img src="/projects/2024/edge/edge.jpg" alt="edge" title="edge">
                </div>
                <p class="project-title">edge (2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/brick by brick/brick_by_brick">
                <div class="image-wrapper">
                    <img src="/projects/2024/brick by brick/71 brick by brick.png" alt="brick by brick" title="brick by brick">
                </div>
                <p class="project-title">brick by brick (2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/before bed/before_bed">
                <div class="image-wrapper">
                    <img src="/projects/2024/before bed/before bed.png" alt="before bed" title="before bed">
                </div>
                <p class="project-title">before bed (2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2024/attach it like a sticker I/attach_sticker">
                <div class="image-wrapper">
                    <img src="/projects/2024/attach it like a sticker I/64 attach it like a sticker.png" alt="attach it like a sticker" title="attach it like a sticker">
                </div>
                <p class="project-title">attach it like a sticker<br/>(2024.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2023/idolos/idolos">
                <div class="image-wrapper">
                    <img src="/projects/2023/ídolos/58 ídolos.png" alt="idolos" title="idolos">
                </div>
                <p class="project-title">idolos (2023.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2023/nexus 2060/nexus">
                <div class="image-wrapper">
                    <img src="/projects/2023/nexus 2060/Elevador_espacial_ÍtaloCarajá.png" alt="nexus 2060" title="nexus">
                </div>
                <p class="project-title">nexus 2060 (2023.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2023/forbidden fruit/forbidden_fruit">
                <div class="image-wrapper">
                    <img src="/projects/2023/forbidden fruit/63 IC_FlavioFreire_high_1.png" alt="forbidden fruit" title="forbidden fruit" height="150px">
                </div>
                <p class="project-title">forbidden fruit (2023.)</p>
            </a>
        </div>
        <div class="project-item">
            <a href="/projects/2022/still_lifes">
                <div class="image-wrapper">
                    <img src='/projects/2022/1 Castiçal com prato de tomates azuis.png' alt="Castiçal com prato de tomates azuis" title="Castiçal com prato de tomates azuis" height="150px">
                </div>
                <p class="project-title">still lifes (2022.)</p>
            </a>
        </div>
    </div>
    <Footer />
</body>
</html>