---
import Social from "./social.astro";
---
<footer>
    <div class="footer1">
        <p class="footer-text">@italocaraja</p>
        <p class="footer-text1">italocaraja@gmail.com</p>
    </div>
</footer>