---
import Navigation from '../components/navigation.astro';
---
<header class="site-header">
    <h1>
        <a href="/" class="title">ítalo carajá</a>
    </h1>
    <nav>
        <Navigation />
    </nav>
</header>